footer {
    font-family: $font-stack;
    font-weight: $font-weight-medium;
    background: $dark-blue;

    ul {
        display: flex;
        list-style-type: none;
        padding: 30px;
        line-height: 50px;

        li {
            color: #fff;
            padding: 0 50px;
        }

    }
}
