header {
    width: 100%;
    background: $white;

    nav {
        width: 100%;
        display: flex;
        background: $white;
        justify-content: space-between;
        margin: 20px 0;
        padding: 0 30px;
        line-height: 50px;
        font-family: $font-stack;

        .logo {
            h1 {
                font-size: $font-size-medium;
                font-weight: $font-weight-black;
            }
        }

        .nav-items {

            .nav-link {
                display: inline-block;
                text-decoration: none;
                color: $dark-blue;
                padding: 0 20px;

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $dark-blue;
                    transition: width .3s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}
