.works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-stack;
    background: lighten($color: $blue-white, $amount: 2.5%);
    padding: 25px 0;

    .works-heading {
        font-size: $font-size-big;
        font-weight: $font-weight-black;
    }

    .works-text {
        margin: 10px 0;
        color: darken($color: $white, $amount: 50%)
    }

    .cards {
        display: flex;
    }

}
