.primary-btn {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $white;
    background: $blue;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    outline: none;
    cursor: pointer;
}
