.primary-btn {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $white;
    background: $blue;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}


.btn-secondary {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $blue;
    background: transparent;
    border: 1px solid $blue;
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 50px;
    padding: 10px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    &:hover {
        background: $blue;
        color: $white;
    }
}

.btn-tertiary {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $white;
    background: $blue;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-tertiary-warning {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $white;
    background: #e0a800;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-tertiary-danger {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $white;
    background: #dc3545;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.product-btn {
    font-size: $font-size-default;
    font-weight: $font-weight-medium;
    color: $blue;
    background: transparent;
    border: 1px solid $blue;
    border-radius: 5px;
    outline: none;
    height: 40px;
    width: 150px;
    padding: 10px;
    line-height: 10px;
    transition: 0.2s ease-in-out;

    &:hover {
        background: $blue;
        color: $white;
    }
}
