html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  font-weight: 200;
  box-sizing: border-box; }

.primary-btn {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background: #0260ee;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none; }

.btn-secondary {
  font-size: 1rem;
  font-weight: 500;
  color: #0260ee;
  background: transparent;
  border: 1px solid #0260ee;
  border-radius: 5px;
  outline: none;
  width: 200px;
  height: 50px;
  padding: 10px;
  line-height: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out; }
  .btn-secondary:hover {
    background: #0260ee;
    color: #ffffff; }

.product-btn {
  font-size: 1rem;
  font-weight: 500;
  color: #0260ee;
  background: transparent;
  border: 1px solid #0260ee;
  border-radius: 5px;
  outline: none;
  height: 40px;
  width: 150px;
  padding: 10px;
  line-height: 10px;
  transition: 0.2s ease-in-out; }
  .product-btn:hover {
    background: #0260ee;
    color: #ffffff; }

.card {
  text-align: center;
  margin: 0 15px;
  transition: 0.3s ease-in-out; }
  .card:hover {
    transform: translateY(-10px); }
  .card .card-content {
    background: #ffffff;
    width: 360px;
    max-height: 450px;
    border-radius: 5px;
    padding: 70px 0;
    margin-top: 30px; }
    .card .card-content i {
      margin-bottom: 40px; }
    .card .card-content h1 {
      font-size: 1.6rem;
      font-weight: 700; }
    .card .card-content p {
      margin-top: 20px;
      padding: 0 50px;
      font-weight: 400;
      color: #999999;
      letter-spacing: 0.2;
      line-height: 25px; }

.featured-card {
  max-width: 360px;
  max-height: 450px;
  height: 450px;
  background: #ffffff;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  margin: 15px;
  outline: none; }
  .featured-card img {
    max-height: 240px;
    height: 240px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
  .featured-card .featured-card-content {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    height: 200px; }
    .featured-card .featured-card-content h1 {
      font-weight: 900;
      font-size: 1rem;
      padding: 10px 0; }
      .featured-card .featured-card-content h1 span {
        font-weight: 500; }
    .featured-card .featured-card-content p {
      font-size: 0.9rem;
      font-weight: 400;
      letter-spacing: 0.2px;
      line-height: 20px;
      height: 77px;
      max-height: 77px; }
    .featured-card .featured-card-content button {
      margin: 20px 0; }

.review-card {
  margin: 15px;
  max-width: 510px;
  max-height: 300px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 0px 27px -7px rgba(0, 0, 0, 0.1);
  padding: 40px 50px;
  font-family: "Roboto", sans-serif;
  outline: none; }
  .review-card .review-person {
    display: flex;
    line-height: 60px; }
    .review-card .review-person h1 {
      font-weight: 700;
      font-size: 1.2rem; }
    .review-card .review-person img {
      max-width: 60px;
      max-height: 60px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 20px 0 0; }
  .review-card .review-body p {
    margin: 20px 0;
    letter-spacing: 0.3px;
    line-height: 25px; }

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background: #ffffff; }
  header nav {
    width: 100%;
    display: flex;
    background: #ffffff;
    justify-content: space-between;
    padding: 20px 30px;
    line-height: 50px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0px 0px 27px -7px rgba(0, 0, 0, 0.5); }
    header nav .logo h1 {
      font-size: 1.6rem;
      font-weight: 900; }
    header nav .nav-items .nav-link {
      display: inline-block;
      text-decoration: none;
      color: #0c1425;
      padding: 0 20px; }
      header nav .nav-items .nav-link:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #0c1425;
        transition: width .3s; }
      header nav .nav-items .nav-link:hover::after {
        width: 100%; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  padding: 200px 0 100px 0; }
  .hero .hero-content {
    max-width: 700px; }
    .hero .hero-content h1 {
      font-size: 3rem;
      font-weight: 900; }
    .hero .hero-content p {
      margin: 30px 0;
      width: 80%;
      letter-spacing: 0.3px;
      line-height: 25px; }
    .hero .hero-content button {
      margin: 0 1px; }
    .hero .hero-content img {
      width: 450px; }

.works {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background: #f4f7fb;
  padding: 40px 0; }
  .works .works-heading {
    font-size: 2.2rem;
    font-weight: 900; }
  .works .works-text {
    margin: 10px 0;
    color: gray; }
  .works .cards {
    display: flex; }

.featured {
  background: #0c1425;
  padding: 50px 0; }
  .featured .featured-content {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .featured .featured-content .featured-content-heading {
      margin-bottom: 50px;
      color: #ffffff;
      font-family: "Roboto", sans-serif;
      font-weight: 900;
      font-size: 2.2rem; }
    .featured .featured-content .featured-products {
      width: 61%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }

.reviews {
  font-family: "Roboto", sans-serif;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f7fb; }
  .reviews .reviews-heading {
    font-size: 2.2rem;
    font-weight: 900;
    color: #0c1425; }
  .reviews .reviews-text {
    margin: 10px 0 30px 0;
    color: gray; }
  .reviews .reviews-content {
    display: flex;
    width: 52%; }

footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #0c1425; }
  footer ul {
    display: flex;
    list-style-type: none;
    padding: 30px;
    line-height: 50px; }
    footer ul li {
      color: #ffffff;
      padding: 0 50px; }
      footer ul li a {
        color: #ffffff;
        transition: 0.2s ease-in-out;
        text-decoration: none; }
        footer ul li a:hover {
          cursor: pointer;
          color: #cccccc; }
