footer {
    font-family: $font-stack;
    font-weight: $font-weight-medium;
    background: $dark-blue;

    ul {
        display: flex;
        list-style-type: none;
        padding: 30px;
        line-height: 50px;

        @media ($tablet) {
            flex-direction: column;
            align-items: center;
        }

        button {
            @media ($tablet) {
                margin: 20px 0;
            }
        }

        li {
            color: $white;
            padding: 0 50px;

            a {
                color: $white;
                transition: 0.2s ease-in-out;
                text-decoration: none;

                &:hover {
                    cursor: pointer;
                    color: darken($color: $white, $amount: 20%);
                }
            }
        }
    }
}
