.works {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: $font-stack;
    background: lighten($color: $blue-white, $amount: 2.5%);
    padding: 40px 0;

    .works-heading {
        font-size: $font-size-big;
        font-weight: $font-weight-black;
    }

    .works-text {
        margin: 10px 0;
        color: darken($color: $white, $amount: 50%);

        @media ($mobile) {
            text-align: center;
        }
    }

    .cards {
        display: flex;

        @media ($tablet) {
            display: flex;
            flex-wrap: wrap;
        }

        @media ($mobile) {
            display: flex;
            flex-direction: column;
        }
    }

}
